
.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  /* background-color: white; */
}

#searchParameter{
  position: relative;
  top: 3px;
}

.highlight{
  background-color: yellow !important;
}

.main-splash-bg{
  background-color: white;
  background-image: url("./assets/imgs/background.png");
  background-size: cover;
  opacity: 1;
  background-size: 80% auto;
}

.splash-img{
  width: 70%;
}

.react-bs-table-container{
  border-radius: 10px !important;
  background-color: white;
}

tbody, td, tfoot, th, thead, tr{
  border: 0px;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

.individual-data-container{
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  width: 100%;
  max-width: 500px;
}

.table-data-container{
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}
.side-link-image{
  width: 75px;
}

.pre-line{
  white-space: pre-wrap;
}

.link{
  text-decoration: none;
  color: black;
}

.banner {
  /* background-attachment: fixed; */
  background-color: #41fe67;
  opacity: 1;
  background-size: cover;
  color: black;
  margin-bottom: 20;
}

.link_container{
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0px 7px 5px #a7a7a7;
}

.link_container:hover{
  box-shadow: 0px 7px 5px #585858;
}

.sec {
  background-attachment: fixed;
  background-size: cover;
  color: black;
  height: fit-content;
  display: flex;
  margin-right: auto;
  align-items: center; /* align vertical */
  margin-bottom: 0;
  padding: 5%;
  text-align: center;
}

@media (max-width: 768px) { 
  .splash-img{
    width: 30%;
  }
 }
